body > div,
body > div > div,
body > div > div > div.login-form {
    height: 100%;
}

body > div,
body > div > div,
body > div > div > div.register-form {
    height: 100%;
}

body > div,
body > div > div,
body > div > div > div.landing-page {
    height: 100%;
}
