body > div,
body > div > div,
body > div > div > div.login-form {
    height: 100%;
}

body > div,
body > div > div,
body > div > div > div.register-form {
    height: 100%;
}

body > div,
body > div > div,
body > div > div > div.landing-page {
    height: 100%;
}

body > div,
body > div > div,
body > div > div > div.profile-page {
    height: 100%;
}

#profileGrid {
    margin: 0 auto !important;
    margin-top: 80px !important;
}

#forceSameSegmentHeight {
    min-height: 400px;
}
